<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

    <h1>Dashboard</h1>

    <p>Total Pages: {{ total_pages }}</p>
    <p>Pages Read: {{ pages_read }}</p>
    <p>Pages Left to Read: {{ pages_left }}</p>

    <h2>Pages Read Per Session</h2>
    <img src="data:image/png;base64,{{ bar_chart }}" alt="Bar Chart">

    <h2>Pages Read vs Not Read</h2>
    <img src="data:image/png;base64,{{ pie_chart }}" alt="Pie Chart">

    <a href="{{ url_for('dashboard') }}"><button>Dashboard</button></a>
    <a href="{{ url_for('index') }}"><button>Home</button></a>

    <a href="{{ url_for('reset_progress') }}">Reset Reading Progress</a>


</body>
</html>
